
/* H1 - Red neon */
.markdown-preview-view h1,
.cm-s-obsidian .cm-header-1 {
  background-color: rgba(255, 0, 0, 0.4) !important;
  border-radius: 3px;
  padding: 2px 2px 2px 2px;
}

/* H2 - Orange neon */
.markdown-preview-view h2,
.cm-s-obsidian .cm-header-2 {
  background-color: rgba(255, 165, 0, 0.4) !important;
    border-radius: 3px;
  padding: 2px 2px 2px 2px;
}

/* H3 - Yellow neon */
.markdown-preview-view h3,
.cm-s-obsidian .cm-header-3 {
  background-color: rgba(255, 255, 0, 0.4) !important;
    border-radius: 3px;
  padding: 2px 2px 2px 2px;
}

/* H4 - Green neon */
.markdown-preview-view h4,
.cm-s-obsidian .cm-header-4 {
  background-color: rgba(0, 255, 0, 0.4) !important;
    border-radius: 3px;
  padding: 2px 2px 2px 2px;
}

/* H5 - Blue neon */
.markdown-preview-view h5,
.cm-s-obsidian .cm-header-5 {
  background-color: rgba(0, 0, 255, 0.4) !important;
    border-radius: 3px;
  padding: 2px 2px 2px 2px;
}

/* H6 - Purple neon */
.markdown-preview-view h6,
.cm-s-obsidian .cm-header-6 {
  background-color: rgba(138, 43, 226, 0.4) !important;
    border-radius: 3px;
  padding: 2px 2px 2px 2px;
}